.lives{
	height: 100px;
	width: 600px;
}

.lives__heart{
	display: inline-block;
	height: 40px;
	width: 40px;
}

.figures__figure{
	display: inline-block;
	cursor: pointer;
	height: 100px;
	width: 100px;
}

.button{
	text-decoration: none;
	padding: 20px 45px;
	cursor: pointer;
	color: white;
	background: mediumslateblue;
}

.button:disabled{
	background: grey;
	cursor: default;
}
